//Сброс стилей
@import "libs/bootstrap-reboot.min";

//Подключение шрифтов
@import "../fonts/font";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500&display=swap');


@import "variable/variable";
@import "variable/mixin";



*{
    font-family: "Tobi";
    box-sizing: border-box;
}

body{
    background: url('../img/dekstop/bg-big.jpg') center center /100% no-repeat;
}
img{
    max-width: 100%;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color:$title-one;
    }
}

.container{
    display: block;
    max-width: 1170px;
    margin: 0 auto;
}
.d-n{
    display: none;
}

.title{
    font-family: 'Tobi';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    text-transform: uppercase;
    color: $title-one;
    text-shadow: 0px 0px 2px #3A0805;
}

.menu__link{
    font-family: 'Tobi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: $title-one;
    text-shadow: 0px 0px 2px #3A0805;
}

.text-one{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: $text-two;
    text-shadow: 0px 0px 2px #3A0805;
}

.text-two{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #EB924D;
    text-shadow: 0px 0px 2px #3A0805;
}

.squirrel{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

//Подключение стилей для слайдера
@import "libs/swiper-bundle.min";
//Блоки
@import "blocks/menu";
@import "blocks/game-story";
@import "blocks/clasess";
@import "blocks/game-text";




//Подключение файла с адаптивом
@import "media/media";