.clasess{
    margin-bottom: 689px;
    &__title{
        margin-bottom: 127px;
        text-align: center;
        font-family: 'Tobi';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
        text-transform: uppercase;
        color: #CF5C2B;
        text-shadow: 0px 0px 2px #3A0805;
        
    }
    
    
    
}