.game-story{
    margin-top: 158px;
    margin-bottom: 415px;
    background: url("../img/dekstop/block-1.png") center center /contain no-repeat;
    padding: 220px 213px 162px;
    &__block{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        margin-bottom: 45px;
    }
    &__descr{
        line-height: 150%;
        max-width: 740px;
    }
}