.modal{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    background: url("../img/modal-bg.jpg") center center /cover no-repeat;
    position: fixed;
    top:0;
    right:-100%;
    transition: all 1s;
    &__descr{
        margin-top: 45px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        display: flex;
        align-items: center;
        text-align: center;
        color: $text-two;
        text-shadow: 0px 0px 2px #3A0805;
        max-width: 738px;
    }
    &__active{
        right:0;
    }

    &__close{
        position: absolute;
        top:20px;
        right: 172px;
        cursor: pointer;
    }
}