$bg : linear-gradient(0deg, rgba(1, 0, 48, 0.51), rgba(1, 0, 48, 0.51)),
linear-gradient(180deg, #0A2700 0%, #115800 25.86%, #197803 57.11%, #092300 100%);

$title-one: #EB924D;
$title-two: #CF5C2B;

$text: #CF5C2B;





